body {
    background-color: gainsboro;
}

.background-grey {
    background: #888888; 
   
}

input[type=button] {
    font-size: 14px;
    font-family: Arial;
    background-color: #8a3c92;
    color: white;
    border: 0px;
}

.dashboard-headline {
    color: white;
    padding: 8px 15px 8px;
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
    font-family: Arial;
    font-size: 22px;
    box-shadow: 0px 0px 5px #333;
    text-align:center;
    background-color: #8a3c92;
}

.dashboard-row {
    font-size: 15px;
    padding: 8px 15px;
    border-bottom: 1px solid #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
}

.dashboard-container {
    border-bottom: 3px solid #8a3c92 !important;
    background-color: white !important;
    box-shadow: 0px 0px 5px #999 !important;
}

#searchContainer {
    margin-top: 15px;
    margin-bottom: 10px;
}

#searchInput {
    height: 40px;
    border: 0px;
    box-shadow: 0px 0px 5px #999;
    padding: 15px;
    width: 30%;
    display: inline-block;
}

#searchButton {
    margin-left: 0px;
    height: 40px;
    width: 15%;
}

#searchAdvancedLink {
    text-align: left;
    padding-top: 7px;
}

#searchAdvancedLink a {
    color: #8a3c92;
}

#first-part{
    display: inline-block;
    width: 75%;
    margin-left: 35px;
}


.first-container{
    display: inline-block;
    width: 30%;
}
