#mfPreviewBar {
    display: none;
}

body {
    /* font-family: 'Signika', sans-serif; */
    /* font-family: 'FF Enzo Std Thin'; */
    /* font-family: 'FF Enzo Pro Bold'; */
    
    font-family: 'FF Enzo Pro Light';
    /* font-family: 'FF Enzo Pro Medium';*/
}

#earth {
    background-image: url(../img/earth.jpg);
}

#big_number {
    color: white;
    font-size: 600px;
    text-align: center;
    text-shadow: 0 0 60px #262c3c;
}
