#mfPreviewBar {
    display: none;
}

body {
    /* font-family: 'Signika', sans-serif; */
    /* font-family: 'FF Enzo Std Thin'; */
    /* font-family: 'FF Enzo Pro Bold'; */
    
    font-family: 'FF Enzo Pro Light';
    /* font-family: 'FF Enzo Pro Medium';*/
}

/* earth section */
#earth {
    background-image: url(../img/earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid #efefef; 
    position: relative;
}

#big_number {
    color: white;
    font-size: 600px;
    text-align: center;
    text-shadow: 0 0 60px #262c3c;
    position: relative;
}

.download_link {
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid white;
    padding: 10px 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 300ms;
}

.download_link:hover {
    background: rgba(255, 255, 255, .2);
}

.texture {
    background-image: url(../img/pattern.png);
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .3;
}

/* names section */
.inner-container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.list-names {
    margin: 200px 0;
    padding: 0;
    list-style: none;
}

.list-names li {
    border: 1px dashed #b3b3b3;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 72px 0;
}

.list-names li:last-child {
    border-bottom: 0;
}

.astronaut-name {
    font-size: 40px;
    margin: 0 0 12px 0;
}

.link-astronaut {
    display: flex;
    text-decoration: none;
    color: black;
}

.sub-group {
    display: flex;
    align-items: center;
}

.flag {
    width: 25px;
    margin-right: 20px;
}

.profile {
    margin: 0;
}

.days, .label-days {
    text-align: right;
    margin: 0;
}

.days {
    font-size: 40px;
    margin-bottom: 12px;
}

.label-days {
    text-transform: uppercase;
}

.group {
    width: 100%;
}